.example-card {
	
  width: 75%;
  display: table;
  margin: 0 auto;
  margin-top: 80px;	
}

.example-header-image {
  background-image: url('https://imageog.flaticon.com/icons/png/512/262/262237.png');
  background-size: cover;
}

.mat-card-actions{
	padding: 0 0 15px 15px !important;
	
}