<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async)"
    (click)="drawer.toggle()">
    <mat-toolbar color="warn">
      
      Menu
    </mat-toolbar>
    <mat-nav-list>
      <b><a mat-list-item> Welcome {{name_usuario | titlecase}}</a></b>
      <a mat-list-item [routerLink]="['/home']">Home</a>
      <a mat-list-item *ngIf="is_login" [routerLink]="['/perfil']">Perfil</a>
      <a mat-list-item *ngIf="is_login" [routerLink]="['/create-disco']">Publicar Disco</a>
      <a mat-list-item *ngIf="is_login" [routerLink]="['/view-discos']">Mis Discos</a>
      <a mat-list-item *ngIf="!is_login" [routerLink]="['/registro']">Registrarse</a>
      <a mat-list-item *ngIf="!is_login" [routerLink]="['/login']">Login</a>
      <a mat-list-item *ngIf="is_login" [routerLink]="['/logout']">Cerrar Sesion</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="toolbar-nav" color="warn">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span [routerLink]="['/home']">Music Store</span>
    </mat-toolbar>
    <ng-content>
    </ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>


