.ngxMasonryItem, ngxMasonryItem{
	margin-bottom: 10px !important;
}
.ngxMasonry{
	margin: auto;
}
.masonry-content{
	display: table;
	margin: 0  auto;
	width: 90%;
	padding: 15px;
}
.card-img{
	width: 100%;
	height: 180px;
}
.mat-card-actions{
	padding: 10px 10px 10px 15px !important;
}
.masonry-item{
	margin: 0 5px 10px 5px;
}

@media screen and (min-width: 760px) {
	.masonry-item{
		width: 22%;
	}

}
@media screen and (min-width: 240px) and (max-width: 759px){
	.masonry-item{
		width: 98%;

	}
}