	<div class="masonry-content">
		<div class="search-container-field">
			
			<mat-form-field>
				<input matInput (keyup)="searchDisco()" [(ngModel)]="searched_disco" placeholder="Buscar Disco">
			</mat-form-field>
			<br>	
		</div>
		<ngx-masonry> 
	        <ngxMasonryItem class="masonry-item" *ngFor="let disco of discos">
	        	
	        	<mat-card class="example-card">
		        	<div class="card-img">
		        		<img class="music-card-img">
		        	</div>
				  <mat-card-header>
					
				    <mat-card-title>
				    	{{disco.nombre_disco | titlecase}}
				    </mat-card-title>
				    <mat-card-subtitle>
				    	{{disco.autor_disco | titlecase}}
					</mat-card-subtitle>
				  </mat-card-header>
				  
				  <mat-card-content>
				  	<div class="content">
				  		<div>
				  			<strong> Genero : </strong>{{disco.genero_disco | titlecase}} 
				  		</div>
				  		<div>
				  			<strong> Album : </strong>{{disco.album_disco | titlecase}}
				  		</div>
				  		<div>
				  			<strong> Lanzamiento : </strong>{{disco.fecha_lanzamiento_disco | date}}
				  		</div>
		
				  	</div>
				    
				  </mat-card-content>
				  <mat-card-actions>
				  	<button mat-mini-fab color="primary" [routerLink] = "['/detail-disco',disco.id_disco]">
				    	<mat-icon>search</mat-icon>
				    </button>
				    <button *ngIf="is_logged" mat-mini-fab color="basic" [routerLink] = "['/update-disco',disco.id_disco]">
				    	<mat-icon>edit</mat-icon>

				    </button>
				    {{is_login}}
				    <button *ngIf="is_logged" mat-mini-fab color="warn" (click)="showDialogDelete(disco.id_disco)">
				    	<mat-icon>delete</mat-icon>
				    </button>
				  </mat-card-actions>
				</mat-card>

		    </ngxMasonryItem>
		</ngx-masonry>
	
	</div>


  
	  