<mat-card class="example-card">
	<mat-card-header>
		<mat-card-title>
			<h1>Registro de Usuarios</h1>
		</mat-card-title>
	</mat-card-header>
	<mat-card-content>
		<form [formGroup]="form_registro" (ngSubmit)="onSubmit()">
			<div class="form-group">

			  	<mat-form-field>
			  		<input matInput name="nombre" [formControlName]="'nombre'" type="text" [(ngModel)]="usuario.nombre" placeholder="Nombre" autofocus/>
					<mat-error *ngIf="!form_registro.controls['nombre'].valid && form_registro.controls['nombre'].touched">
						<mat-hint align="end">{{message_error[0].nombre}}</mat-hint>	
					</mat-error>
				</mat-form-field>
				
			  	<mat-form-field>
			  		<input matInput name="apellido" type="text" [formControlName]="'apellido'"[(ngModel)]="usuario.apellido" placeholder="apellido"/>
			 		<mat-error *ngIf="!form_registro.controls['apellido'].valid && form_registro.controls['apellido'].touched">
			 			<mat-hint align="end">{{message_error[0].apellido}}</mat-hint>		 		
			 		</mat-error>
			  	</mat-form-field>

			 	<mat-form-field>	
			 		<input matInput name="email" [formControlName]="'email'" [(ngModel)]="usuario.email" placeholder="email"/>
			 		<mat-error *ngIf="!form_registro.controls['email'].valid && form_registro.controls['email'].touched">
						<mat-hint align="end">{{message_error[0].email}}</mat-hint>	
			 		</mat-error>
			 	</mat-form-field>

				<mat-form-field>	
			 		<input matInput type="password" name="contrasena" [formControlName]="'contrasena'" [(ngModel)]="usuario.contrasena" placeholder="contraseña" [type]="hide ? 'text':'password'"/>
			 		<mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off':'visibility' }}
			 		</mat-icon>
			 		<mat-error *ngIf="!form_registro.controls['contrasena'].valid && form_registro.controls['contrasena'].touched">
						<mat-hint align="end">{{message_error[0].contrasena}}</mat-hint>	
			 		</mat-error>
			 	</mat-form-field>
				

				<mat-form-field>	
			 		<input matInput name="identificacion" [formControlName]="'identificacion'" [(ngModel)]="usuario.identificacion" placeholder="Numero identificacion"/>
			 	</mat-form-field>

			  	<mat-form-field>	
			 		<input matInput name="direccion" [formControlName]="'direccion'" [(ngModel)]="usuario.direccion" placeholder="direccion"/>
			 	</mat-form-field>

			 	<mat-form-field>	
			 		<input matInput name="telefono" [formControlName]="'telefono'" [(ngModel)]="usuario.telefono" placeholder="telefono"/>
			 	</mat-form-field>
				
				<mat-form-field>
					<input matInput [matDatepicker]="picker" name="fecha_nacimiento" [formControlName]="'fecha_nacimiento'" [(ngModel)]="usuario.fecha_nacimiento"placeholder="Fecha de Nacimiento">
					<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
					<mat-datepicker #picker></mat-datepicker>
				</mat-form-field>

			</div>
			<div class="form-group">
				<button type="submit" mat-raised-button color="primary" [disabled]="form_registro.invalid" >Guardar</button>
			</div>  

		</form>
	</mat-card-content>
</mat-card>	

