/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body{
	padding: 0;
	margin:0;
	background-color: #f5f5f5;
}
.mat-hint{
	color: red;
}
.card-img{
	background-image: url('./assets/images/Music-icon.png');
	background-size: 100%;
	background-repeat: no-repeat;
}
.mat-basic{
	color: #fff !important;
	background-color: #f59e08 !important;
}
.mat-input-field{
	margin-bottom: 10px !important;
}
.success-snackbar{
	background-color: #5fba7d !important;
}
.mat-snack-bar-container{
	margin-bottom: 40px !important;
}
.mat-simple-snackbar{
	font-weight: bold;
}
.mat-simple-snackbar-action>button{
	color: #fff;
}